KEY='INSERT-KEY-HERE'
BASE_URL='https://api.octopus.energy/v1/products'
PRODUCT_CODE='INSERT-PRODUCT-CODE-HERE'
TARIFF='INSERT-TARIFF-CODE-HERE'
MPAN='000000000'
ELEC_SERIAL_NUMBER='EEEEEEE'
LINUX_BOINC='/mnt/C/BOINC/BoincMain/boinccmd.exe'
WIN_BOINC='C:\BOINC\BoincMain\boinccmd.exe'
PRICE_THRESHOLD='9.00'
